<li *ngIf="!dropdownItems" class="nav-item" routerLinkActive="active">
  <a class="nav-link" [routerLink]="[link]">{{ title }}</a>
</li>

<li *ngIf="dropdownItems" class="nav-item dropdown" routerLinkActive="active">
  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
  aria-haspopup="false" aria-expanded="false" [routerLink]="[link]">{{ title }}</a>

  <div class="dropdown-menu" aria-labelledby="activitiesDropdown">
    <a class="dropdown-item activities" [routerLink]="[item.link]" *ngFor='let item of dropdownItems'>
      <h6>{{ item.title }}</h6>
      <div class="dropdown-divider"></div>
    </a>
  </div>
</li>

