<mat-card class="mat-card">
  <span class="post-date gray-1">{{ post.date | date: "dd/MM" }}</span>
  <span class="post-year gray-1">{{ post.date | date: "yyyy" }}г.</span>
  <mat-card-header>
    <div
      mat-card-avatar
      class="mat-header-image mr-20"
      [title]="post.author"
      [ngStyle]="{ 'background-image': 'url(' + post.avatarImgUrl + ')' }"
    ></div>
    <mat-card-title class="overflow-hidden pl-20">{{
      post.title
    }}</mat-card-title>
    <mat-card-subtitle class="right">
      <button mat-button [routerLink]="[link]">
        {{ post.subtitle }}
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <img
    class="image"
    mat-card-image
    alt="Photo of a Shiba Inu"
    [src]="post.imageUrl"
  />
  <mat-card-content>
    <p>
      {{ post.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Още...</button>
  </mat-card-actions>
</mat-card>
