.mat-card {
  font-family: cursive;
  max-width: 400px;
  .post-date,
  .post-year {
    position: absolute;
    top: 60px;
    width: 55px;
  }
  .post-year {
    top: 80px;
  }
  .mat-card-header {
    height: 115px;
    .mat-card-header-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .mat-card-title {
      font-weight: bold;
      height: 100%;
    }
    .mat-card-subtitle {
      margin-bottom: 10px;
    }
  }
  .mat-card-content {
    height: 71px;
    overflow: hidden;
  }
  .image {
    height: 300px;
  }
}
.mat-header-image {
  background-size: cover;
}
