<div class="footer column justify-content-between p-50">
  <div class="row justify-content-between">
    <div class="column font-white">
      <h4>Полезни връзки</h4>
      <ul>
        <li>
          <a href="http://www.bogoroditsa.bg/" target="_blank">
            Монумент „Св.Богородица“</a
          >
        </li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>
    </div>
    <div class="column font-white"><h4>Младежки център в мрежата</h4></div>
    <div class="column font-white"><h4>Политика на поверителност</h4></div>
  </div>
  <div class="row gray-2">
    Copyright © 2019 МЛАДЕЖКИ ЦЕНТЪР. All rights reserved.
  </div>
</div>
