$mainBodyColor: rgba(175, 196, 221, 0.2);
$mainWrapperColor: rgb(0, 105, 92); //rgb(70, 130, 180);
$mainWhiteColor: rgb(255, 250, 240);
$mainColorGray: rgb(39, 39, 39);

$secondaryColor: rgb(175, 229, 236);

$navHoverColor: rgb(255, 235, 59);
$footerLinksCOlor: #afe5ec;

$gray-1: rgba(94, 90, 90, 0.637);
$gray-2: rgba(194, 194, 194, 0.87);
