@import "settings.colors";

.height {
  &-100 {
    height: 100vh !important;
  }
}

.h {
  &-50p {
    height: 50px !important;
  }
  &-70p {
    height: 70px !important;
  }
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center !important;
}

.background-blue {
  background: $mainWrapperColor;
}
